<section id="product">
    <header>
        <div class="product-header">
        <img src="{{product.imagePath}}" alt="product image" />
        <h2>{{product.name}}</h2>
        <button>Add to Cart</button>
    </div>
    </header>
    <hr />
    <article class="product-v">
        <div class="product-description">
            <h4>Description : </h4>
        <p>{{product.description}}</p>
    </div>
    <div class="product-price">
        <h4>Price : </h4>
        <p> {{product.price}} $</p>
    </div>
    <div class="product-categories">
        <h4>Categories : </h4>
        <p *ngFor="let cat of product.category">{{cat}}</p>
    </div>
    </article>
</section>