main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.product-list{
    flex:1;
    max-width: 300px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.product-view{
    flex: 2;
    padding-left: 20px;
}

#products {
    list-style: none;
    padding: 0;
}

#products li {
    margin-bottom: 10px;
}

#fallback {
    text-align: center;
    color: gray;
    font-style: italic;
}